*{
    box-sizing: border-box;
}

body,html{
    height: 100% !important;
}

/* Invite Front */
/* entire container, keeps perspective */
.flip-container{
    width: 600px;
    height: 350px;
    /*perspective*/
    -webkit-perspective:1000;
    -moz-perspective:1000;
    -ms-perspective:1000;
    -o-perspective:1000;
    perspective:1000;
}

/* flip the pane */
.flipped {
/*transform*/
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

.front, .back {
    width: 600px;
    height: 350px;
}

.frontImg, .backImg {
    width: 100%;
    height: 100%;
}

/* flip speed goes here */
.flipper {
    /*transition*/
    -webkit-transition:0.6s;
    -moz-transition:0.6s;
    -o-transition:0.6s;
    transition:0.6s;
    /*transform-style*/
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style:preserve-3d;
    position:relative;
}

/* hide back of pane during swap */
.front, .back{
    /*backface-visibility*/
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
    top:0;
    left:0; 
}

/* front pane, placed above back */
.front{
    z-index:2;
}

/* back, initially hidden pane */
.back{
    /*transform*/
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

/* Enveope Fold - Back*/
.back {
    width: 650px;
    height: 350px;
    margin-top: 250px;
    position: relative;
}

.card {
	position: relative;
	width: 600px;
	min-height:300px;
	height: auto;
	background: #fff;
	margin: 0 auto;
	top: 30px;
	box-shadow: 0 0 5px 2px #333;
	transition:2s ease-in-out;
	transition-delay:1.5s;
	z-index: 300;
}

.left, .right, .top {
    width: 0;
    height: 0;
    position:absolute;
    top:0;
    z-index: 310;
}

/* .left{	
	border-left: 300px solid #337efc;
	border-top: 160px solid transparent;
	border-bottom: 160px solid transparent;
} */
/* .right{	
	border-right: 325px solid #337efc;
	border-top: 160px solid transparent;
	border-bottom: 160px solid transparent;;
	left:325px;
} */
/* .top{	
	border-right: 325px solid transparent;
	border-top: 200px solid #03A9F4;
	border-left: 325px solid transparent;
	transition:transform 1s,border 1s, ease-in-out;
	transform-origin:top;
	transform:rotateX(0deg);
	z-index: 500;
} */
/* .bottom{
	width: 650px;
	height: 190px;
	position: absolute;
	background: #2b67cb;
	top: 160px;
	border-radius:0 0 15px 15px;
	z-index: 300; 
} */

.open{
    padding-top: 150px;
	transform-origin:top;
    transform:rotateX(180deg);
    /* animation-delay:1.5s; */
	transition:transform 0.7s,border 0.7s,z-index 0.7s ease-in-out;
    transition-delay:0.7s;
    border-top: 200px solid #2c3e50;
	z-index: 200;
}

.pull{
	-webkit-animation:message_animation 2s 1 ease-in-out;
	animation:message_animation 2s 1 ease-in-out;
	-webkit-animation-delay:.9s;
	animation-delay:1.2s;
	transition:0.7s;
	transition-delay:1.2s;
	z-index: 350;
}

@-webkit-keyframes message_animation {
	0%{
		transform:translatey(0px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	50%{
		transform:translatey(-340px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	51%{
		transform:translatey(-340px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
	100%{
		transform:translatey(0px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
}
@keyframes message_animation {
	0%{
		transform:translatey(0px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	50%{
		transform:translatey(-340px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	51%{
		transform:translatey(-340px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
	100%{
		transform:translatey(0px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
}